.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.info-section-title {
    padding: 0 10px;
    font-size: var(--large-font-size);
    font-weight: bold;
    color: var(--main-text-color);
}

.info-section-text {
    font-size: var(--medium-font-size);
    color: var(--secondary-text-color);
    width: 80%;
}

.info-section hr {
    border: 1px solid var(--main-text-color);
    width: 80%;
    margin: 20px 0;
}

@media (max-width: 576px) {
    .info-section-text {
        width: 100%;
    }

    .info-section hr {
        width: 100%;
    }
}