#about {
    background-color: var(--secondary-bg-color);
    scroll-margin-top: 70px;
}

.about-wrapper {
    padding: 40px 20px;
    overflow-x: hidden;
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-text {
    font-size: var(--medium-font-size);
    color: var(--main-text-color);
}

.about-photo {
    flex: 0 0 auto;
    height: 335px;
    width: 335px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.about-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


@media (max-width: 992px) {
    .about-info {
        flex-direction: column-reverse;
        gap: 20px;
    }
}