#footer {
    background-color: var(--footer-background-color);
    padding: 60px 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-about {
    width: 45%;
}

.footer-about h2,
.footer-socials h2 {
    font-size: 36px;
    color: var(--footer-text-color);
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 24px;
    color: var(--footer-secondary-text-color);
}

.footer-socials {
    width: 45%;
}

.footer-socials ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    list-style: none;
}

.footer-content hr {
    border: 1px solid var(--footer-border-color);
    width: 80%;
    margin: 60px 0;
}

.footer-copyright-text {
    text-align: center;
    font-size: 16px;
    color: var(--footer-text-color);
}

@media (max-width: 768px) {
    .footer-info{
        flex-direction: column;
        gap: 40px;
    }

    .footer-about, .footer-socials {
        width: 100%;
    }
}