#footer {
    background-color: var(--secondary-background-color);
}

.footer-wrapper {
    padding: 40px 20px;
    overflow-x: hidden;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
}

.footer-copyright-text {
    margin: 20px 0;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--main-text-color);
}

.footer-socials-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

@media (max-width: 700px) {
    .footer-content {
        flex-direction: column;
    }
}