#header {
    background-color: var(--main-background-color);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 10px var(--main-shadow-color);
    z-index: 999;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
    height: 80px;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    color: var(--main-text-color);
    list-style: none;
    gap: 40px;
    font-size: var(--medium-font-size);
}

.nav-list li {
    cursor: pointer;
}

.nav-list li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    border-radius: 999px;
    background-color: var(--main-text-color);
    transition: width 0.5s ease;
}

.nav-list li:hover::after {
    width: 100%;
}

.nav-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: var(--main-text-color);
}

.btn-contact {
    all: unset;
    padding: 0px 25px;
    background-color: var(--main-button-background-color);
    color: var(--main-button-text-color);
    font-size: var(--medium-font-size);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.btn-theme {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 30px;
    background-color: var(--secondary-background-color);
    color: var(--main-background-icon-color);
    border-radius: 10px;
    cursor: pointer;
}

.header-btns {
    display: flex;
    gap: 20px;
}

.header-mobile {
    display: none;
}

.btn-menu {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--main-text-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .btn-contact {
        display: none;
    }
}

@media (max-width: 576px) {
    .nav {
        display: none;
    }

    .nav-mobile {
        background-color: var(--secondary-background-color);
        position: fixed;
        top: 65px;
        right: 20px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 20px;
    }

    .nav-list {
        display: grid;
    }

    .header-mobile {
        display: block;
    }
}