#home {
    background-color: var(--main-background-color);
    scroll-margin-top: 80px;
}

.home-wrapper {
    padding: 0 20px;
    overflow-x: hidden;
}

.home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    margin: auto;
    max-width: 1400px;
    gap: 70px;
    padding: 40px 0;
}

.home-title {
    font-size: var(--large-font-size);
    font-weight: bold;
    color: var(--main-text-color);
}

.home-subtitle {
    font-size: var(--medium-font-size);
    color: var(--main-text-color);
}

.home-buttons {
    display: flex;
    gap: 10px;
}

.btn-projects,
.btn-contact-home {
    all: unset;
    padding: 15px 30px;
    background-color: var(--main-button-background-color);
    color: var(--main-button-text-color);
    font-size: var(--medium-font-size);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.selection {
    color: var(--selection-text-color);
}

@media (min-width: 778px) {
    .btn-contact-home {
        display: none;
    }
}

@media (max-width: 576px) {
    .home-buttons {
        flex-direction: column;
    }
}

@media (max-height: 576px) {
    .home-content {
        height: auto;
    }
}