#home {
    background-color: var(--main-bg-color);
}

.home-wrapper {
    padding: 100px 20px;
    overflow-x: hidden;
}

.home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
    margin: auto;
    max-width: 1400px;
    gap: 70px;
}

.home-title {
    font-size: var(--large-font-size);
    font-weight: bold;
    color: var(--main-text-color);
}

.home-subtitle {
    font-size: var(--medium-font-size);
    color: var(--main-text-color);
}

.btn-projects {
    all: unset;
    padding: 15px 30px;
    background-color: var(--main-button-bg-color);
    color: white;
    font-size: var(--medium-font-size);
    border-radius: 10px;
    cursor: pointer;
}

.selection {
    color: var(--selection-text-color);
}

@media (min-width: 778px) {
    .btn-contact-home {
        display: none;
    }
}

@media (max-width: 576px) {
    .home-buttons {
        flex-direction: column;
    }
}

@media (max-height: 576px) {
    .home-content {
        height: auto;
    }
}