.home {
    background-color: var(--main-background-color);
}

.home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    margin: auto;
    max-width: 1400px;
    gap: 70px;
}

.home-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--main-text-color);
}

.home-subtitle {
    font-size: 24px;
    color: var(--main-text-color);
}

.btn-projects {
    all: unset;
    padding: 15px 30px;
    background-color: var(--main-button-background-color);
    color: var(--main-button-text-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.selection {
    color: var(--selection-text-color);
}