.dialog-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    inset: 0;
    z-index: 100;
}

.dialog-overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.dialog-content {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    z-index: 100;
}

.dialog-title {
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: white;
    max-width: calc(100% - 60px);
    text-align: center;
}

.dialog-close {
    all: unset;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.dialog-description {
    font-size: var(--small-font-size);
    color: rgba(255, 255, 255, 0.8);
}

.dialog-slider {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slider-image {
    flex: 0 0 calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.dialog-slider img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.slider-controls button {
    all: unset;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}