#projects {
    position: relative;
    background-color: var(--secondary-background-color);
    scroll-margin-top: 80px;
}

.projects-wrapper {
    padding: 40px 20px;
    overflow-x: hidden;
}

.projects-content {
    max-width: 1400px;
    margin: auto;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
}

.projects-list>* {
    max-width: 33%;
    flex: 1 1 calc(33% - 20px);
}

@media (max-width: 1200px) {
    .projects-list>* {
        max-width: 50%;
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .projects-list>* {
        max-width: 100%;
        flex: 1 1 100%;
    }
}