.projects {
    background-color: var(--secondary-background-color);
    padding: 20px;
}

.projects-content {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.projects-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}