#projects {
    position: relative;
    background-color: var(--secondary-background-color);
    scroll-margin-top: 80px;
}

.projects-wrapper {
    padding: 40px 20px;
    overflow: hidden;
}

.projects-content {
    max-width: 1400px;
    margin: auto;
}

.projects-list {
    columns: 3;
    column-gap: 20px;
}

@media (max-width: 1200px) {
    .projects-list {
        columns: 2;
    }
}

@media (max-width: 768px) {
    .projects-list {
        columns: 1;
    }
}