#skills {
    background-color: var(--main-background-color);
    padding: 40px 20px;
    scroll-margin-top: 80px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills-list h3 {
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.skills-column ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: var(--medium-font-size);
    color: var(--main-text-color);
    list-style: none;
}

.skills-column li {
    background-color: var(--secondary-background-color);
    padding: 10px 20px;
    border-radius: 10px;
}