.project-box {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.project-info h3 {
    font-size: var(--medium-font-size);
    color: var(--main-text-color);
}

.project-info p {
    font-size: var(--small-font-size);
    color: var(--main-text-color);
}

.project-info ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.project-info ul li {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
}

.project-image {
    position: relative;
    height: 250px;
    width: 100%;
}

.project-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.5);
    border-radius: 10px;
}

.project-btns button,
.project-btns a {
    all: unset;
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: var(--main-text-color);
    font-size: 30px;
    cursor: pointer;
}

.project-btns {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}