.project-box {
    background-color: var(--secondary-bg-box);
    border: var(--secondary-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.project-info h3 {
    font-size: var(--medium-font-size);
    color: var(--main-text-color);
}

.project-info p {
    font-size: var(--small-font-size);
    color: var(--main-text-color);
}

.project-info ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.project-info ul li {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg-box);
    border: var(--main-border);
    color: var(--main-text-color);
}

.project-image {
    position: relative;
    height: 250px;
    width: 100%;
}

.project-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border: var(--main-border);
}

.project-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-btns button,
.project-btns a {
    all: unset;
    background-color: var(--main-bg-box);
    border: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    color: var(--main-text-color);
    font-size: 25px;
    cursor: pointer;
}

.project-btns button:hover,
.project-btns a:hover {
    background-color: var(--hover-bg-color);
    transition: background-color 0.2s ease;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}