* {
  margin: 0;
  padding: 0;
  font-family: "Literata", serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  position: relative;
}

:root {
  --small-font-size: 16px;
  --medium-font-size: 22px;
  --large-font-size: 34px;
}

html[data-theme="light"] {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #e4e4e6;
  --main-button-bg-color: #E00000;
  --main-text-color: #000000;
  --secondary-text-color: #00000080;
  --selection-text-color: #E00000;
  --main-bg-box: rgba(0, 0, 0, 0.05);
  --main-border: 1px solid rgba(0, 0, 0, 0.15);
  --secondary-bg-box: rgba(0, 0, 0, 0.07);
  --secondary-border: 1px solid rgba(0, 0, 0, 0.2);
  --hover-bg-color: rgba(0, 0, 0, 0.15);
}

html[data-theme="dark"] {
  --main-bg-color: #09090b;
  --secondary-bg-color: #18181a;
  --main-text-color: #ffffff;
  --main-button-bg-color: #E00000;
  --secondary-text-color: #ffffff80;
  --selection-text-color: #E00000;
  --main-bg-box: rgba(255, 255, 255, 0.05);
  --main-border: 1px solid rgba(255, 255, 255, 0.15);
  --secondary-bg-box: rgba(255, 255, 255, 0.07);
  --secondary-border: 1px solid rgba(255, 255, 255, 0.15);
  --hover-bg-color: rgba(255, 255, 255, 0.15);
}