* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin-top: 80px;
}

:root {
  --small-font-size: 16px;
  --medium-font-size: 22px;
  --large-font-size: 34px;
}

html[data-theme="light"] {
  --main-background-color: #ffffff;
  --main-text-color: #000000;
  --main-button-background-color: #E00000;
  --main-button-text-color: #ffffff;
  --main-background-icon-color: #000000;
  --main-border-color: #000000;
  --main-shadow-color: rgba(0, 0, 0, 0.1);
  --secondary-background-color: #EAEAEA;
  --secondary-text-color: #00000080;
  --selection-text-color: #E00000;
  --footer-background-color: #0D0D0D;
  --footer-background-icon-color: #ffffff;
  --footer-text-color: #ffffff;
  --footer-secondary-text-color: #ffffff80;
  --footer-border-color: #ffffff;
  --modal-background-color: #F5F5F5;
}

html[data-theme="dark"] {
  --main-background-color: #0D0D0D;
  --main-text-color: #ffffff;
  --main-button-background-color: #E00000;
  --main-button-text-color: #ffffff;
  --main-background-icon-color: #ffffff;
  --main-border-color: #ffffff;
  --main-shadow-color: rgba(255, 255, 255, 0.1);
  --secondary-background-color: #2A2A2A;
  --secondary-text-color: #ffffff80;
  --selection-text-color: #E00000;
  --footer-background-color: #0D0D0D;
  --footer-background-icon-color: #ffffff;
  --footer-text-color: #ffffff;
  --footer-secondary-text-color: #ffffff80;
  --footer-border-color: #ffffff;
  --modal-background-color: #1A1A1A;
}